body {
    padding: 10px 17px 0;
  }
  #CreditCardInfo {
    text-align: justify;
  }
  #CreditCardInfo:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
  }
  @media (min-width: 400px) {
    #CreditCardInfo {
      text-align: left;
    }
  }
  .error-msg{
    display: none;
  }
  .has-error .error-msg{
    display: block;
  }
  #card-logo-block img{
    height: 30px;
  }
  #zooz-logo {
    margin-bottom: 5px;
  }
  #zooz-logo img{
    height: 35px;
  }